.container {
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: 768px) {
    .container {
      width: 668px;
      padding: 0 50px;
      background-color: transparent; 
    }
  }

  @media (min-width: 1050px) {
    .container {
      width: 1150px;
      outline: 1px solid black;
    }
  }
  