.contacts {
    display: flex;
    flex-direction: column;
}

.contacts__title {
    margin: 0;
    padding: 0;
    margin-top: 88px;
    margin-left: -2px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.contacts__list {
    margin: 0;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
}

.contacts__list-term {
    display: inline-block;
    margin-top: 25px;
    margin-left: -1px;
    vertical-align: top;
}

.contacts__list-description {
    display: inline-block;
    margin-inline-start: unset;
    margin-top: 25px;
    vertical-align: top;
}

.contacts__list-description--email {
    border-bottom: 1px solid #62d1ba;
    margin-left: 26px;
}

.contacts__list-term--adress {
    margin-top: 30px;
}

.contacts__list-description--adress {
    margin-top: 30px;
    margin-left: 27px;
}

.contacts__wrapper {
    display: flex;
    flex-direction: column;
}

.contacts__button {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;

    order: 2;
    box-sizing: border-box;
    height: 51px;
    margin-top: 33px;
    padding-top: 14px;
}

.contacts__map-wrapper {
    margin-top: 38px;
    margin-left: -30px;
    position: relative;
}

.contacts__map-marker {
    display: inline-block;
    position: absolute;
    top: 147px;
    left: 140px;
}

@media (min-width: 768px) {
    .contacts {
        background-image: url(../../img/icon-flag.svg);
        background-size: 47px 82px;

        background-position: top 17px right 3px;
        background-repeat: no-repeat; 
    }

    .contacts__title {
        font-size: 43px;
        line-height: 50px; 
        margin-top: 30px;
        margin-left: -5px;
    }

    .contacts__list-term {
        font-size: 17px;
        line-height: 30px;

        margin-top: 50px; 
    }

    .contacts__list-description {
        font-size: 17px;
        line-height: 30px;

        margin-top: 50px;
        margin-left: 20px;
    }

    .contacts__list-term--adress {
        margin-left: 48px;
        margin-right: 3px; 
    }

    .contacts__list-description--adres-br {
        display: none;
    }

    .contacts__map {
        width: auto;

        margin-top: 18px;
        margin-left: -20px;  
    }

    .contacts__map-marker {
        top: 156px;
        left: auto;
        right: 290px; 
    }

    .contacts__button {
        margin-top: 50px;
        margin-left: 220px;  
        width: 228px;
    }
}
