.main-nav {
    position: relative;
    background-color: #ffffff;

    &::after {
        content: "";

        position: absolute;
        width: 320px;
        height: 1px;
        bottom: 0;
        left: -30px;
        background-color: #ececec;
    }
}

.main-nav__header-logo {
    display: flex;
    justify-content: center;
}

.main-nav__text {
    display: none;
}

.main-nav__stock-list {
    display: none;
}

@media (min-width: 768px) {
    .main-nav {
      display: flex;
      flex-wrap: wrap;
      outline: 1px solid black;
    }

    .main-nav__text {
        font-size: 15px; 
        order: 3;
        z-index: 2; 
        display: inline-block;
        margin-left: auto; 
        background-color: transparent;
    }
}
