.social-links {
    &::after {
        content: "";

        position: absolute;
        width: calc(100% - 60px);
        height: 1px;
        top: 80px;
        
        background-color: #e5e5e5;
    }
}

.social-links__link {
    display: inline-block;
    margin-top: 30px;
}

.social-links__link--fb {
    margin-top: 26px;
    margin-left: 41px;
    margin-right: 40px;
}
